*{
    font-family: "Garamond", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}
header{
    display: flex;
    justify-content: space-between;
	z-index:100;
    top:0;
    position: sticky;
    padding: 20px 50px;
    color: black;
    background-color: #fff;

}
.logo img{
    width:200px;
}
nav{
    display: flex;
    align-items:center; 
}
nav a{
    justify-content: space-evenly;
    margin:20px;
	color: #003153;
	text-decoration: none;
	font-size:19px;
	font-weight:bold;
	transition:0.4s ease;
}

nav a:hover{
	color:gray;
}
.search{
    margin-top:15px;
	display: flex;
	align-items: center;
	gap:10px;
} 

.search input{
	padding:10px;
	border:none;
	border-radius:8px;
	background-color:#003153;
	color:white;
}
.search .go{
	padding:8px;
	border:none;
	border-radius:8px;
	background-color:#003153;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	width:40px;

}
#main-pic{
	display : flex;
	padding-top: 40px;
}
.col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.txt h2{
    margin-top: 20px;
    margin-bottom: 20px;

}
.bookimg, .txt{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.txt{
	text-align: justify;
       margin-right: 140px;
    /* text-justify: inter-word; */
    /* flex-direction: column; */
	/* margin-top: 10px; */
}
.col-6{
	display: flex;
	flex-direction: column;
	
}


#left-img{
	padding-left: 20%;
	padding-right: 20px;
}

#left-img img{
	width: 280px;
	height: 400px;
}

#img-content{
	margin-right: 12%;
	padding: 30px;
	padding-right: 50px;
	inline-size: inherit;

}

#img-content p{
	text-align: justify;
	
	text-justify: inter-word;
}

.bt1 , .bt2{
	background-color: #003153;
	border-radius: 20px;
}

.shipping-info h2{
	margin-top: 50px;
	margin-bottom: 20px;
}

.navbar {
 overflow: hidden;
 background-color: #003153;
}
.navbar p {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a {
 float: right;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.navbar a:hover {
 background-color: #ddd;
 color: black;
}

body {
    font-family: Garamond, sans-serif;
}

h1, h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #ddd;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ddd;
    color: black;
}

.pop-up{
        width:400px;
        background: white;
        border-radius:6px;
        position: absolute;
        top:0;
        left:50%;
        transform:translate(-50%,-50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color:#333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:translate(-50%,-50%) scale(1);

}
.pop-up img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0.2);
}
.pop-up h2{
    font-size: 38px;
    font-weight: 600;
    margin:30px 0 10px;
}
.pop-up h4{
    font-weight: 500;
}
.pop-up button{
    width:100%;
    margin-top:50px;
    padding:10px 0;
    background: #003153;
    color: white;
    border:0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0,0,0.2);
}

footer {
    background-color:#003153;
    color:white;
    padding: 100px ;
	width: 100%;
	margin-top: 40px;
}

.topshelf-footer {
	line-height:35px;
    display: flex;
    justify-content: space-around;

}
.topshelf-footer h2{
	color: #f2f2f2;
}
.topshelf-section h2 {
    margin-bottom: 10px;
}
.topshelf-section p{
	font-size:19px;
}

.topshelf-section ul {
    list-style-type: none;
    padding: 0;
}

.topshelf-section li a {
    color: white;
	font-size:19px;
    text-decoration: none;
}

.topshelf-section li a:hover {
    text-decoration: underline;
}

.topshelf-section form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.topshelf-section input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-right: 5px;
}

.topshelf-section button[type="submit"] {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.topshelf-section button[type="submit"]:hover {
    background-color: #ddd;
	color: black;
}

